In [17]:
import pandas as pd
from openai import OpenAI
from pydantic import BaseModel, Field

In [83]:
df = pd.read_parquet("../data/master_data_p1.parquet.gzip")

In [84]:
try:
    previous_data = pd.read_parquet("../data/proccessed_data_p1.parquet.gzip")
    proccessed_articles = previous_data.id.to_list()
except FileNotFoundError:
    previous_data = None
    proccessed_articles = []

In [ ]:
reduced_data = df[~df["id"].isin(proccessed_articles)]
data = reduced_data.copy()
data["token_count"] = data["summary"].apply(lambda x: len(x.split()))
data["cum_token_count"] = data["token_count"].cumsum()

batch = (
    data.copy()
    .loc[data["cum_token_count"] <= 500000]
)

In [78]:
batch.describe()

,published_date,impact_score,token_count,cum_token_count
count,6351,6351.000000,6351.000000,6351.000000
mean,2023-10-07 12:55:53.234451200,2.492836,78.718784,253177.227208
min,2023-03-07 10:32:00,0.000000,2.000000,64.000000
25%,2023-07-18 11:00:16.500000,1.000000,59.000000,122180.500000
50%,2023-10-11 12:50:26,3.000000,75.000000,258749.000000
75%,2023-12-21 14:49:53,3.000000,93.000000,381202.000000
max,2024-03-07 20:34:05,5.000000,1488.000000,499943.000000
std,NaN,1.374425,37.219853,147795.959978