In [5]:
import pandas as pd
df = pd.read_parquet("../data/proccessed_data_p1.parquet.gzip")
ji_related_data = df[df["status"] == "TRUE"]
all_data = pd.read_parquet("../data/master_data_p1.parquet.gzip")

In [6]:
df.describe()

,published_date,impact_score,token_count,cum_token_count
count,25981,25981.000000,25981.000000,25981.000000
mean,2023-11-30 13:35:41.216042496,2.415342,115.561256,249930.579962
min,2023-03-08 12:14:00,0.000000,2.000000,55.000000
25%,2023-10-06 13:21:10,1.000000,69.000000,124421.000000
50%,2023-12-05 20:52:43,3.000000,89.000000,250275.000000
75%,2024-01-28 11:14:37,3.000000,116.000000,375170.000000
max,2024-03-08 13:40:00,5.000000,1397.000000,499990.000000
std,NaN,1.376184,85.093951,144589.072709

In [7]:
all_data.describe()

                      published_date   impact_score
count                         127860  127860.000000
mean   2023-11-30 15:42:45.022227712       2.408994
min              2023-03-07 10:32:00       0.000000
25%              2023-10-06 13:12:47       1.000000
50%              2023-12-06 07:44:16       3.000000
75%       2024-01-28 17:41:18.500000       3.000000
max              2024-03-08 13:40:00       5.000000
std                              NaN       1.378354